.btn__nav1 {
  width: 100px;
  height: 40px;
  background-color: $white;
  border: 0;
  font-family: $secondary-font;
  margin-right: 20px;
  color: $onyx;
}

.btn__nav2 {
  width: 100px;
  height: 40px;
  background-color: $ballblue;
  border: 0;
  font-family: $secondary-font;
  color: $white;
}

.btn__precio1 {
  width: 220px;
  height: 40px;
  background: $ballblue;
  border: 0;
  color: $white;
  font-family: $secondary-font;
  margin-top: 10px;
}

.btn__precio2 {
  width: 220px;
  height: 40px;
  background: $ballblue;
  border: 0;
  color: $white;
  font-family: $secondary-font;
  margin-top: 10px;
}
