.btn__precio1 {
  width: 220px;
  height: 40px;
  background: $ballblue;
  border: 0;
  color: $white;
  font-family: $secondary-font;
  margin-top: 10px;
}

.btn__precio2 {
  width: 220px;
  height: 40px;
  background: $ballblue;
  border: 0;
  color: $white;
  font-family: $secondary-font;
  margin-top: 10px;
}
