.contenedor {
  width: 100%;
  height: auto;
}

.imagen {
  background-image: url(../../img/bg-hero.svg);
  background-color: black;
}

.caract h2,
h3 {
  font-family: $primary-font;
  text-align: center;
}
.estadisticas p {
  width: 90vw;
  font-family: $secondary-font;
  padding-left: 20px;
}

.precios {
  width: 100%;
  height: auto;
  background-image: url(../../img/bg-price.png);
  background-color: #808080;
  background-position: center;
  background-size: 80%;
  color: $white;
}

.precios h2 {
  font-family: $primary-font;
  text-align: center;
}

.precios1 {
  width: 250px;
  height: 300px;
  background-color: white;
  color: black;
  font-family: $secondary-font;
  margin: 0 auto;
}

.precios2 {
  width: 250px;
  height: 300px;
  background-color: white;
  color: black;
  font-family: $secondary-font;
  margin: 0 auto;
}
