.contenedor {
  width: 100%;
  height: auto;
}

.imagen {
  width: 100vw;
  height: 300px;
  background-image: url(../img/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 160%;
  color: $white;
  margin-top: 10px;
  padding-top: 120px;
}

.caract {
  padding: 20px;
}
.caract h2 {
  font-family: $primary-font;
  font-size: $x-large;
  text-align: center;
}
.caract h3 {
  font-family: $primary-font;
  font-size: $large;
  text-align: center;
}

.caract .estadisticas h3 {
  text-align: left;
  padding-left: 5px;
}
.estadisticas p {
  width: 90vw;
  font-family: $secondary-font;
  font-size: $medium;
  padding: 5px;
}

.caract_element {
  margin-bottom: 50px;
}
.precios {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-price.svg);
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px;
  color: $white;
  padding-top: 200px;
  padding-bottom: 80px;
}

.precios h2 {
  font-family: $primary-font;
  font-size: $x-large;
  text-align: center;
}

.precios1 {
  width: 250px;
  height: 350px;
  background-color: white;
  color: black;
  font-family: $secondary-font;
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 20px;
  h5 {
    font-size: $medium;
    padding: 0;
    margin: 0;
  }
  &:hover {
    box-shadow: 18px 17px 24px -15px $platinum;
  }
}

hr {
  margin: 0px;
}

.precios1 h2 {
  text-align: left;
  padding: 0;
  margin: 10px;
}

.precios1__list {
  margin-bottom: 60px;
  font-family: $secondary-font;
  font-size: $medium;
}

.precios2 {
  width: 250px;
  height: 350px;
  background-color: white;
  color: black;
  font-family: $secondary-font;
  font-size: $medium;
  margin: 0 auto;
  padding: 20px;
  h5 {
    font-size: $medium;
    padding: 0;
    margin: 0;
  }
  &:hover {
    box-shadow: 18px 17px 24px -15px $platinum;
  }
}

.precios2 h2 {
  text-align: left;
  padding: 0;
  margin: 10px;
}

.precios2__list {
  // padding-top: 20px;
  // padding-bottom: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  nav {
    width: 90%;
    margin-left: 80px;
  }
  .imagen {
    height: 700px;
    // background-image: url(../img/bg-hero.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: $white;
  }

  .estadisticas {
    width: 800px;
    margin-top: 50px;
  }
  // .est__graf {
  //   width: 350px;
  // }

  .est__text {
    width: 350px;

    p {
      width: 350px;
    }
  }
  .caract_element {
    margin-right: 50px;
  }
  .precios {
    width: 100%;
    height: 100%;
    background-size: 1550px;
    color: $white;
    // margin-top: 10px;
    padding-top: 200px;
    padding-bottom: 80px;
  }
  .precios__amb {
    width: 800px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .precio1 {
    width: 250px;
    height: 350px;
    margin: 0px;
    // padding: 0;
  }
  .precios1__list {
    padding-top: 20px;
    padding-bottom: 30px;
    // margin-bottom: 10px;
  }
  .precio2 {
    width: 250px;
    height: 350px;
    margin: 0px;
  }
}

.animation-element {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(0px, 50px, 0px);
  transition-delay: 0.6s;
  position: relative;
}

.animation-element.inview {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
