.contenedor {
  width: 100%;
  height: auto;
}

.imagen {
  width: 100vw;
  height: 300px;
  background-image: url(/assets/img/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 160%;
  color: $white;
  margin-top: 10px;
  padding-top: 120px;
}

.caract {
  padding: 20px;
}
.caract h2,
h3 {
  font-family: $primary-font;
  text-align: center;
}
.caract .estadisticas h3 {
  text-align: left;
  padding-left: 5px;
}
.estadisticas p {
  width: 90vw;
  font-family: $secondary-font;
  padding: 5px;
}

.precios {
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/bg-price.svg);
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1750px;
  color: $white;
  // margin-top: 10px;
  padding-top: 200px;
  padding-bottom: 80px;
}

.precios h2 {
  font-family: $primary-font;
  text-align: center;
}

.precios1 {
  width: 230px;
  height: 300px;
  background-color: white;
  color: black;
  font-family: $secondary-font;
  margin: 40px auto;
  padding: 20px;
}

.precios1 h2 {
  text-align: left;
}

.precios1__list {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.precios2 {
  width: 230px;
  height: 350px;
  background-color: white;
  color: black;
  font-family: $secondary-font;
  margin: 0 auto;
  padding: 20px;
}

.precios2 h2 {
  text-align: left;
  padding: 0;
  margin: 0;
}

.precios2__list {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
